{% extends "template.html" %} 
{% block body %}
	<h1 class="title">History</h1>
	<p>
		During the 2001-2002 academic year, the Latino community on MIT's campus
		, with alumni support, raised some serious concerns about feeling under-
		supported by the Office of Minority Education, the Division of Student 
		Life, and the Latino faculty. As part of the response to these issues, 
		in the summer of 2002, the Latino Cultural Center (LCC) was created at 
		the direction of the then-Deans Larry Benedict (Division of Student Life
		) and Robert Redwine (Dean for Undergraduate Education). Latino student 
		groups were given space (offices and a lounge in the basement of the 
		Student Center, Building W20) - which they had never had before - and 
		resources (a small budget and office supplies).
	</p>
	<p>
		In the fall of 2002, the LCC opened to provide students, particularly 
		Latino students, with a place to share and enjoy Latino culture on MIT's 
		campus. Key students involved in the creation of the LCC were Desiree 
		Ramírez, Terrance Strader, and Ray Morales, who all worked persistently 
		to make the long sought concept of the LCC a reality. The LCC includes 
		two areas: the main lounge is used by students for studying and 
		socializing and by student groups for general body meetings, information 
		sessions, academic programs, study groups, workshops, political and 
		social activities, dance and theatrical rehearsals, and movie 
		screenings. The office behind the lounge contains group storage space, 
		computers for student use, and a meeting space that is used both for 
		studying and for group executive board meetings.
	</p>
	<p>
		For some, the LCC is a culturally-enriching space, while for others the 
		Center is a much-needed reminder of life at home. Overall, the LCC is a 
		place to study, spend time with friends, form support groups, network, 
		and enjoy all aspects of Latino culture at MIT.
	</p>
{% endblock %}
