{% extends "template.html" %} 
{% block body %}
	<h1>Latino@MIT Calendar</h1>
		<p>Want to know what the Latino student groups are doing on campus? Then subscribe to the "Latino @ MIT" Google calendar. Here's how:
			<ol>
				<li>Check out the embedded Google Calendar below</li>
				<li>Click the button at the bottom right-hand corner that says "+ Google calendar"</li>
				<li>Sign in to your Google Account</li>
				<li>Follow the directions to add the calendar</li>
			</ol>
		</p>
	<div id="google">
		<iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=473&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=latinoculturalcenter%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="630" height="473" frameborder="0" scrolling="no"></iframe>
	</div>
{% endblock %}
