{% extends "template.html" %} 
{% block body %}
	<h1 class="title">Cena a las Seis</h1>
	<div class="statement">
		<p>
			Cena a las Seis, or "Dinner at Six," is an annual 
			LCC-orgnaized Family Weekend event where we bring MIT 
			students and their families together for a semi-formal 
			evening of Latino cuisine and student performances and 
			presentations. The student groups that annually participate 
			in the organization and excecution ofthis event are the 
			Latino Cultural Center, La Unión Chicana por Aztlán, the MIT 
			Chapter of the Society of Mexican American Engineers and 
			Scientists, the Association of Puerto Rican Students, and 
			the MIT Chapter of the Society of Hispanic Professional 
			Engineers.
		</p>
        <p>
			This year, Cena a las Seis 2011 will be held on Saturday, 
			October 15th at 6PM in Morss Hall of Walker Memorial.
		</p>
        <p>
			Please check back at the beginning of the fall semester for 
			more details on speakers and performers for the event. We 
			hope to see you there!
        </p>
	</div>
	
	<h1 class="title">¡Gala Sabrosura!</h1>
	<div class="statement">
		<p>
			¡Gala Sabrosura!, the semi-formal Latino cultural night, is 
			held during the spring semester. In the past, the event has 
			been very successful, attracting attendances of over 150 
			guests. This year, we hope to draw an even bigger and more 
			diverse crowd by organizing a more aggressive advertising 
			campaign and contracting a professional DJ to play only the 
			best Latino music throughout the night.
		</p>
        <p>
			Please check back at the beginning of the spring semester 
			for more details regarding ¡Gala Sabrosura 2012!, including 
			scheduled performers.
		</p>
	</div>
	
	<h1 class="title">Mes Latino</h1>
	<div class="entry">
		<p>
			The purpose of Mes Latino, or Latino Heritage Month, is to 
			unite Latinos on MIT’s campus and promote Latino culture to 
			the entire MIT community. Over the years, Mes Latino has 
			organized traditional as well as innovative events to pull 
			students, faculty and staff together in celebrating Hispanic 
			culture. This year, our main goal is to invite those from 
			outside of the Latino community to join us in celebrating 
			and learning about our culture.
		</p>
		<p>
			Please check our <a href="{% url calendar %}">Calendar</a> 
			page for more details about upcoming events.
		</p>
	</div>
{% endblock %}
